.container-fluid
	height auto
	.dung2
		.cdung2
			background-color #222222	
			height 150px	
			.rend1
				.cend
					height 50px
					margin 0 auto 
					// background-color blue
					text-align center	
			.rend2
				.cend2
					height 30px
					margin 0 auto
					.rend21
						.c21
							// background-color white
							height 30px
							float: left 
							text-align center
			.rend3
				.cend3
					height 30px
					margin 0 auto
					text-align center 
					margin-top 20px				
					